@theme "catppuccin-default"

configuration {
    show-icons: true;
    font: "JetBrainsMono Nerd Font Medium 12";
    display-drun: "󰍉 ";
    display-window: " ";
    drun-display-format: "{icon} {name}\t{comment}";
    window-format: "{icon} {t}\t{c}";
}

element-text {
    tab-stops: [ 12em ];
}

listview {
    border: false;
}
